body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/**** ANIMATIONS ****/

.fade-enter {
  opacity: 0.01;
}

.fade-enter.fade-enter-active {
  opacity: 1;
}

.fade-leave {
  opacity: 1;
}

.fade-exit {
  display: none;
}

.sidebar-enter,
.update-enter {
  transform: translateX(-100%);
}

.sidebar-enter.sidebar-enter-active,
.update-enter.update-enter-active {
  transform: translateX(0);
}

.sidebar-exit {
  transform: translateX(-100%);
}

.update-exit {
  display: none;
}

.delete-enter {
  transform: translateX(100%);
}

.delete-enter.delete-enter-active {
  transform: translateX(0);
}

.delete-exit {
  display: none;
}

.form-enter {
  transform: translateY(100%);
}

.form-enter.form-enter-active {
  transform: translateY(0);
}

.form-exit {
  transform: translateY(100%);
}
